.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-text-1 {
  width: 79px;
  margin: 12px auto 23px;
}.u-section-2 .u-sheet-1 {
  min-height: 54px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 424px;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 1px 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-gallery-1 {
    height: 349px;
    margin-top: 197px;
    width: 940px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1069px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-3 .u-gallery-1 {
    height: 802px;
    margin-top: 224px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1418px;
  }

  .u-section-3 .u-gallery-1 {
    height: 505px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 108px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 364px;
}

.u-section-5 .u-gallery-1 {
  height: 344px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-gallery-1 {
    height: 284px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-5 .u-gallery-1 {
    height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-5 .u-gallery-1 {
    height: 164px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-5 .u-gallery-1 {
    height: 103px;
  }
}