.u-section-1 .u-sheet-1 {
  min-height: 865px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 643px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  width: 258px;
  margin: 16px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 7px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-1 .u-text-3 {
  margin: 0 0 0 18px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 683px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 18px 0;
}

.u-section-1 .u-image-1 {
  width: 466px;
  height: 356px;
  margin: -81px 4px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-1 .u-image-1 {
    width: 266px;
    height: 203px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 79px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 320px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 587px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 326px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 260px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 8px 335px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 260px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: 29px 312px 0 30px;
}

.u-section-2 .u-image-2 {
  width: 309px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 367px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 3px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 217px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 260px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 205px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 67px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 301px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: -74px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 47px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 222px;
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 320px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin: 30px 0 60px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 68px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 358px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 605px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 125px;
}

.u-section-3 .u-video-1 {
  height: 336px;
  width: 598px;
  margin: 55px 9px 0 13px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 605px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 17px 0 42px;
}

.u-section-3 .u-text-1 {
  margin: 29px 13px 0;
}

.u-section-3 .u-image-1 {
  width: 313px;
  height: 476px;
  margin: -69px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 30px;
}

.u-section-3 .u-text-3 {
  margin: -575px 520px 60px 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-3 .u-video-1 {
    width: 517px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 594px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 342px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-video-1 {
    width: 389px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-bottom: 17px;
  }

  .u-section-3 .u-image-1 {
    width: 254px;
    height: 441px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 13px;
    margin-bottom: -13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 654px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 147px;
    margin-right: 507px;
  }

  .u-section-3 .u-image-1 {
    width: 370px;
    height: 542px;
    margin-top: -113px;
    margin-right: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -615px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -595px;
    margin-right: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 143px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 469px;
    margin-top: -53px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -602px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 935px;
}

.u-section-4 .u-text-1 {
  margin: 21px 246px 0 299px;
}

.u-section-4 .u-gallery-1 {
  height: 741px;
  margin-top: 24px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  margin: 21px auto 10px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-4 .u-text-1 {
    width: 511px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 611px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-4 .u-text-1 {
    width: 408px;
    margin-top: 20px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1053px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3353px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3159px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2183px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 1989px;
    margin-top: 10px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-bottom: 10px;
    padding: 9px 0 11px;
  }
}