.u-section-1 .u-sheet-1 {
  min-height: 136px;
}

.u-section-1 .u-image-1 {
  width: 453px;
  height: 134px;
  object-position: 50% 51.07%;
  margin: 1px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 101px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 246px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 837px;
    color: rgb(66, 67, 75) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/dcsmin.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 910px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 697px;
  margin: 60px 443px 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 110px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 11px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 368px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 110px;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 11px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 312px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 312px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-3 .u-text-8 {
  margin-top: 17px;
  margin-bottom: 0;
  font-style: italic;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    background-position: 81.63% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 560px;
    margin-right: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 325px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    font-size: 1.5rem;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 594px;
}

.u-section-4 .u-list-1 {
  width: 432px;
  grid-auto-rows: 100%;
  margin: 2px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 465px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 708px;
  margin: -583px auto 2px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 583px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 19px 23px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 583px;
  background-image: url("images/chilli.jpg?rand=76f6");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 889px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 503px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 234px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 232px;
  object-position: 50% 0%;
  margin: 1px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 139px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 570px;
}

.u-section-6 .u-list-1 {
  width: 432px;
  grid-auto-rows: 100%;
  margin: 5px 0 0 708px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 465px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 708px;
  margin: -560px auto 5px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 560px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 10px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 560px;
  background-image: url("images/tunabake1.jpg");
  background-position: 42.25% 0%;
  background-size: auto 130%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-left: 508px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    margin-left: 288px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 854px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    min-height: 503px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 244px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 235px;
  object-position: 50% 0%;
  margin: 0 auto 9px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 140px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 54px;
}

.u-section-8 .u-text-1 {
  width: 837px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
}