.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 15px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 14px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 169px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: none;
  align-self: center;
  font-size: 1rem;
  margin: 11px auto 0;
  padding: 5px 10px 6px 8px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: none;
  font-size: 1rem;
  margin: 15px auto 11px;
  padding: 5px 17px 6px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: -7px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    margin-right: -7px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 7px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 253px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 0 15px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 80px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 79px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  margin: 0 2px 0 -2px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 79px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 1px 2px 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 0px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 79px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 0 24px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 79px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 0 14px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 65px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 65px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 65px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 34px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-btn-2 {
    border-style: none;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 21px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 93px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 93px;
  }
}