.u-section-1 .u-sheet-1 {
  min-height: 138px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 1px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 16px 0 1px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}