.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  width: 712px;
  margin: 15px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 965px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 117px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 6px 56px;
}

.u-section-2 .u-text-2 {
  margin: 0 30px 0 -38px;
}

.u-section-2 .u-gallery-1 {
  height: 820px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px 2px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 676px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2199px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2071px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6441px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-gallery-1 {
    height: 6213px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4219px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 3912px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 704px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 362px;
}

.u-section-3 .u-container-layout-1 {
  padding: 4px 29px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 1px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 362px;
}

.u-section-3 .u-container-layout-2 {
  padding: 4px 16px 0;
}

.u-section-3 .u-text-2 {
  margin: 1px 73px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 341px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  width: 1140px;
  margin: 0 0 1px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    height: 281px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 861px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 2583px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 1626px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 902px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 66px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 66px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 39px 104px -4px 0;
}

.u-section-4 .u-gallery-1 {
  height: 820px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  width: 1140px;
  margin: 15px 0 1px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 54px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 54px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 676px;
    width: 940px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2071px;
    width: 720px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 6447px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 6213px;
    width: 540px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4084px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 40px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-gallery-1 {
    height: 3912px;
    width: 340px;
    margin-top: 0;
    margin-bottom: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 17px 0;
}

.u-section-5 .u-text-2 {
  margin: 0 71px 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 687px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  width: 1140px;
  margin: 0 0 1px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 5px 5px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 940px;
    height: 566px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-gallery-1 {
    width: 720px;
    height: 1734px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 540px;
    height: 1301px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1220px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-gallery-1 {
    width: 340px;
    height: 819px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 470px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1px 18px 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 900px;
}

.u-section-7 .u-gallery-1 {
  height: 1802px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  width: 1014px;
  margin: 1px auto;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 4px 4px;
}

.u-section-7 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-7 .u-gallery-1 {
    width: 940px;
    height: 1670px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-7 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    width: 720px;
    height: 2878px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3550px;
  }

  .u-section-7 .u-gallery-1 {
    grid-template-columns: auto;
    width: 540px;
    height: 8634px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    height: 5436px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 470px;
}

.u-section-8 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1px 18px 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 900px;
}

.u-section-9 .u-gallery-1 {
  height: 899px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  width: 1014px;
  margin: 1px auto;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-9 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-9 .u-gallery-1 {
    width: 940px;
    height: 834px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-9 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    width: 720px;
    height: 1597px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 3550px;
  }

  .u-section-9 .u-gallery-1 {
    grid-template-columns: auto;
    width: 540px;
    height: 4312px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-9 .u-gallery-1 {
    width: 340px;
    height: 2715px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 470px;
}

.u-section-10 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1px 18px 10px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1662px;
}

.u-section-11 .u-gallery-1 {
  height: 1692px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  width: 1014px;
  margin: 0 auto;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-11 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-11 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-11 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-11 .u-gallery-1 {
    width: 940px;
    height: 1568px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-11 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    width: 720px;
    height: 2702px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3550px;
  }

  .u-section-11 .u-gallery-1 {
    grid-template-columns: auto;
    margin-bottom: 50px;
    width: 540px;
    height: 8106px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-11 .u-gallery-1 {
    width: 340px;
    height: 5104px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 459px;
}

.u-section-12 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 18px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-13 .u-gallery-1 {
  height: 1371px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  margin-top: 1px;
  margin-bottom: 15px;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-13 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-13 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-13 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-13 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-13 .u-gallery-1 {
    height: 1130px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-13 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 2077px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 3550px;
  }

  .u-section-13 .u-gallery-1 {
    grid-template-columns: auto;
    margin-bottom: 50px;
    height: 5842px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-13 .u-gallery-1 {
    height: 3678px;
  }
}.u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 563px;
}

.u-section-14 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 7px 18px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
  }
}.u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-15 .u-gallery-1 {
  height: 821px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  margin-top: 1px;
  margin-bottom: 15px;
}

.u-section-15 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-15 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-15 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-15 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-15 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-15 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-15 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-15 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-15 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-15 .u-gallery-1 {
    height: 677px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-15 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 1296px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 3550px;
  }

  .u-section-15 .u-gallery-1 {
    grid-template-columns: auto;
    margin-bottom: 50px;
    height: 3499px;
  }

  .u-section-15 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 2205px;
  }

  .u-section-15 .u-gallery-1 {
    height: 2203px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 458px;
}

.u-section-16 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1px 18px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-16 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 484px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 1765px;
}

.u-section-17 .u-gallery-1 {
  height: 2048px;
  grid-gap: 17px 17px;
  grid-template-columns: auto auto auto;
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-17 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 5px 5px;
}

.u-section-17 .u-gallery-item-1 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-17 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-17 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-17 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-17 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-17 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-17 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-17 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-17 .u-gallery-1 {
    height: 1689px;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-17 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 3049px;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 4262px;
  }

  .u-section-17 .u-gallery-1 {
    grid-template-columns: repeat(1, auto);
    height: 8731px;
  }

  .u-section-17 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 2628px;
  }

  .u-section-17 .u-gallery-1 {
    height: 5497px;
  }
}.u-section-18 {
  background-image: none;
}

.u-section-18 .u-sheet-1 {
  min-height: 660px;
}

.u-section-18 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 13px 18px 11px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-19 {
  background-image: none;
}

.u-section-19 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-19 .u-gallery-1 {
  height: 1106px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-section-19 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-19 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-19 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-19 .u-gallery-1 {
    height: 912px;
  }

  .u-section-19 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-19 .u-gallery-1 {
    height: 2794px;
  }

  .u-section-19 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-sheet-1 {
    min-height: 1914px;
  }

  .u-section-19 .u-gallery-1 {
    height: 8382px;
  }

  .u-section-19 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-19 .u-gallery-1 {
    height: 5278px;
  }
}.u-section-20 {
  background-image: none;
}

.u-section-20 .u-sheet-1 {
  min-height: 624px;
}

.u-section-20 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 11px 18px 16px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-20 .u-text-1 {
    width: auto;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 1271px;
}

.u-section-21 .u-gallery-1 {
  height: 1255px;
  margin-bottom: 16px;
  margin-top: 0;
}

.u-section-21 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-21 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-21 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-21 .u-gallery-1 {
    height: 1035px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-21 .u-gallery-1 {
    height: 3171px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 1914px;
  }

  .u-section-21 .u-gallery-1 {
    height: 9513px;
  }

  .u-section-21 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-21 .u-gallery-1 {
    height: 5990px;
  }
}.u-section-22 {
  background-image: none;
}

.u-section-22 .u-sheet-1 {
  min-height: 530px;
}

.u-section-22 .u-text-1 {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 14px 18px 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-22 .u-text-1 {
    width: auto;
  }
}.u-section-23 {
  background-image: none;
}

.u-section-23 .u-sheet-1 {
  min-height: 1451px;
}

.u-section-23 .u-gallery-1 {
  height: 1451px;
  width: 1140px;
  margin: 0 auto;
}

.u-section-23 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-23 .u-back-image-1 {
  object-position: 50% 23.48%;
}

.u-section-23 .u-over-slide-1 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-back-image-2 {
  object-position: 50% 20.34%;
}

.u-section-23 .u-over-slide-2 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-3 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-4 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-23 .u-over-slide-5 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-23 .u-back-image-6 {
  object-position: 50% 81.01%;
}

.u-section-23 .u-over-slide-6 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-7 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-8 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-9 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-10 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-11 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-12 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-13 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-14 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-15 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-16 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-17 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-18 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-19 {
  transition-duration: 1s;
  padding: 24px;
}

.u-section-23 .u-over-slide-20 {
  transition-duration: 1s;
  padding: 24px;
}

@media (max-width: 1199px) {
  .u-section-23 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-23 .u-gallery-1 {
    width: 940px;
    height: 1196px;
  }

  .u-section-23 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-sheet-1 {
    min-height: 3664px;
  }

  .u-section-23 .u-gallery-1 {
    width: 720px;
    height: 3664px;
  }

  .u-section-23 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-sheet-1 {
    min-height: 10992px;
  }

  .u-section-23 .u-gallery-1 {
    width: 540px;
    height: 10992px;
  }

  .u-section-23 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-sheet-1 {
    min-height: 6921px;
  }

  .u-section-23 .u-gallery-1 {
    width: 340px;
    height: 6921px;
  }
}.u-section-24 {
  background-image: none;
}

.u-section-24 .u-sheet-1 {
  min-height: 142px;
}

.u-section-24 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  font-size: 3rem;
  margin: 18px 84px 0;
}

.u-section-24 .u-layout-wrap-1 {
  width: 562px;
  margin: 6px auto 0;
}

.u-section-24 .u-layout-cell-1 {
  min-height: 56px;
}

.u-section-24 .u-container-layout-1 {
  padding: 10px 2px 0;
}

.u-section-24 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: solid;
  margin: 0 0 0 auto;
  padding: 14px 57px;
}

.u-section-24 .u-layout-cell-2 {
  min-height: 56px;
}

.u-section-24 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-24 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: solid;
  margin: 0 0 0 auto;
  padding: 14px 57px;
}

.u-section-24 .u-layout-cell-3 {
  min-height: 56px;
}

.u-section-24 .u-container-layout-3 {
  padding: 10px 10px 0;
}

.u-section-24 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 13px 56px 15px 55px;
}

@media (max-width: 1199px) {
  .u-section-24 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-24 .u-text-1 {
    width: auto;
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-24 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-24 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-24 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-24 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-24 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-24 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-24 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-24 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-24 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-24 .u-btn-3 {
    margin-left: auto;
  }
}